<footer>
    <div class="container">
        <div class="row">
            <div class="text-center col-lg-offset-4 col-lg-4">
                <p>Контакты для связи: </p>
                <div class="soc-bnt">
                    <a href=""><div class="soc-bnt-common soc-bnt-vk"></div></a>
                    <a href=""><div class="soc-bnt-common soc-bnt-skype"></div></a>
                    <a href=""><div class="soc-bnt-common soc-bnt-github"></div></a>
                    <a href=""><div class="soc-bnt-common soc-bnt-linkedin"></div></a>
                </div>
            </div>
        </div>
    </div>
</footer>