<footer >
    <div class="container">
        <div class="row">
            <div class="text-center col-lg-offset-4 col-lg-4">
                <p>Контакты для связи: </p>
                <div class="soc-bnt">
                    <a href="https://vk.com/id8439922"  target="_blank"><div class="soc-bnt-common soc-bnt-vk"></div></a>
                    <a href=""  target="_blank"><div class="soc-bnt-common soc-bnt-skype"></div></a>
                    <a href="https://github.com/tr-nikolai"  target="_blank"><div class="soc-bnt-common soc-bnt-github"></div></a>
                    <a href="https://www.linkedin.com/in/%D0%BD%D0%B8%D0%BA%D0%BE%D0%BB%D0%B0%D0%B9-%D1%82%D1%80%D0%B0%D1%84%D0%B8%D0%BC%D0%BE%D0%B2-74284b14a/"  target="_blank"><div class="soc-bnt-common soc-bnt-linkedin"></div></a>
                </div>
            </div>
        </div>
    </div>
</footer>